* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui;
  background-color: #222;
  color: #fff;
}
/* the start head*/
.cruds {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

/*the end head*/
/*the start inputs*/
.inputs input,
.searchBlock input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  margin: 4px 0;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
}

/*the end inputs*/
/*the start btnSearch*/
.btnSearch {
  display: flex;
  justify-content: space-around;
}
.btnSearch button {
  width: 45%;
}
#deleteAll {
  margin: 20px 0;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 55px;
  background-color: rgb(176, 127, 255);
}

/* the end btnSearch*/
